//------------------------------
// VARIABLES
//------------------------------

// Colors
$black: #000;
$black-mine-shaft: #333;

$white: #fff;
$white-alabaster: #fafafa;

$grey-french: #b5b5c3;
$gray-dark: #121212;

$blue-havelock: #478ee1;
$blue-azure-radiance: #1877f2;
$blue-dodger: #1da1f2;
$blue-denim: #1666c5;
$blue-curious: #3098e1;

$green-eucalyptus: #2cba49;

$red: #ff0000;
$red-pomegranate: #ef4036;
$red-cerise: #e1306c;

$orange-tree-poppy: #f7941d;

//Generic variables
$generic-color-main: $blue-curious;

$generic-color-bg: $white-alabaster;
$generic-color-bg-alt: $black-mine-shaft;

$generic-color-text: $black-mine-shaft;
$generic-color-text-alt: $white;

$generic-color-bg: hsl(210, 38%, 97%);

$generic-scrollbar-color-bg-hover: hsla(229, 31%, 21%, 0.089);
$generic-scrollbar-color-bg-focus: hsla(218, 0%, 20%, 0.13);

$generic-color-overlay: rgba($black, 0.5);

$generic-color-variants: (
  "success": $green-eucalyptus,
  "error": $red-pomegranate,
  "warning": $orange-tree-poppy,
  "cta": $blue-havelock,
  "inactive": $grey-french,
  "facebook": $blue-azure-radiance,
  "twitter": $blue-dodger,
  "linkedin": $blue-denim,
  "instagram": $red-cerise,
  "youtube": $red,
);

// Font Family
$font-family-default: "Poppins", sans-serif;
// $font-family-icons: "IconsFont", cursive;

// Font Sizes
$font-size-xs: 0.625rem;
$font-size-sm: 0.75rem;
$font-size-default: 0.875rem;
$font-size-md: 1rem;
$font-size-lg: 1.125rem;
$font-size-xl: 1.25rem;
$font-size-xxl: 1.5rem;
$font-size-xxxl: 2.2rem;
$font-size-4xl: 3rem;
$font-size-5xl: 3.5rem;

// Font Weight
$font-weight-sm: 400;
$font-weight-default: 500;
$font-weight-lg: 600;

//Line Height
$line-height: 1.3;

// Links
// $link-font-weight: 600;
// $link-color-text: $generic-color-gtr;
// $link-color-text-hover: var(--text-color);

// Breakpoints
$screen-xs: 576px;
$screen-sm: 768px;
$screen-md: 1024px;
$screen-lg: 1280px;
$screen-xl: 1400px;

// Spacing
$spacing-mobile: 16px;
$spacing-tablet: 24px;
$spacing-desktop: 32px;
